:root{
    /* Cores utilizadas: */
    --cordefundo: #DCDCDC;
    --preto: #000000;
    --corlink:#FFFAFA;
    --corborda: #FFFAFA;
    --cordacaixa: #C0C0C0;
    --cordabordacaixa: #DCDCDC;

    /* Fontes utilizadas: */
    --fontfamilytexto: 'Montserrat', sans-serif;
    --fontfamilytitle:'Oswald', serif;
}


body{
    padding-left: 4rem;
    padding-right: 4rem;
    background-color:var(--cordefundo) ;
}

.container{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
}

.navegacao__list--link{
    color: var(--preto);
    text-decoration: none;
    text-align: center;
    font-size: 25px;
    font-family: var(--fontfamilytitle);
}
.navegacao__list--link:hover{
    color: var(--corlink);
    text-decoration: underline;
}

.cabecalho__container{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    margin-top: 4rem;
    text-align: start;
}

.cabecalho__foto{
    width: 190px;
    height: 180px;
    box-sizing: border-box;
    border-radius: 50%;
    border: var(--corborda) 5px solid;
}

.sobremim__container{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    margin-top: 2rem;
}

.sobremim__nome{
    font-family: var(--fontfamilytitle);
    font-size: 50px;
}

.sobremim__profissao{
    font-family: var(--fontfamilytexto);
    font-size: 30px;
    margin-top: 1rem;
    margin-bottom: 2rem;
}
.sobremim__historia--titulo{
    margin-bottom: 1rem;
    font-family: var(--fontfamilytitle);
    font-size: 30px;
    text-align: center;
}
.sobremim__historia span{
    font-size: 20px;
    font-weight: 100;
    font-family: var(--fontfamilytitle);
}
.sobremim__historia--descricao{
    font-family: var(--fontfamilytexto);
    font-size: 17px;
    margin-bottom: 2rem;
}

.educacao__container{
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    box-sizing: border-box;
}
.educacao__titulo{
    margin-top: 1rem;
    margin-bottom: 1rem;
    font-family: var(--fontfamilytitle);
    font-size: 30px;
    text-align: center;

}
.educacao__descricao{
    font-family: var(--fontfamilytexto);
    font-size: 15px;
    font-weight: bold;
}
.educacao__curso{
    border: 1px solid var(--preto);
    width: 100%;
    display: flex;
    justify-content: center;
    color: var(--preto);
    padding: 5px;
}
.educacao__local{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
}
.educacao__informacao{
    margin-left: 1rem;
}

.rodape__texto{
    margin-top: 2rem;
    text-align: center;
}

/* Pagina de projetos */
.projetos__container{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    margin-top: 6rem;
    align-items: center;
    flex-wrap: wrap;
}
.projetos__caixa{
    border: 1px solid var(--preto);  
    box-sizing: content-box;
    text-align: center;
    width: 300px;
    height: 150px;
}
.projetos__caixa--titulo{
    width: 100%;
    
}
.projetos__caixa--titulolink{
    text-decoration: none;
    text-transform: uppercase;
    font-size: 15px;
}
.projetos__caixa--titulotexto{
    background-color: var(--cordacaixa);
    height: 22px;
    font-family: var(--fontfamilytitle);
    text-align: center;
    line-height: normal;
}
.projetos__caixa--imagem{
    align-items: center;
    margin-top: 1rem;
    width: 100px;
}

@media screen and (max-width:500px) {
    .educacao__container{
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        align-items: center;
    }
    .projetos__container{
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        flex-wrap: wrap;
        align-items: center;
    }
    .projetos__caixa{
        margin: 10px 0 0 auto;
    }
}
@media screen and (max-width:1400px) {
    .projetos__container{
        display: flex;
        justify-content: space-between;
        flex-wrap: wrap;
        align-items: center;    
    }
    .projetos__caixa{
        margin: 10px 0 0 auto;
    }
}